/*Projects*/
/* #heading styles are defined in website.css for consistency */
.section_title{
    margin-left:auto;
    margin-right:auto;
    width:80vw;
    /*max-width:800px; */
}
.pro_section{
    background-color: rgb(216, 216, 216);
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    margin-bottom:10px;
    border-radius: 8px;
    /*max-width:800px;*/
}
.page_intro{
    font-size:1.9rem;
}
.pro_date{
    font-size:13px;
    font-style: italic;
}
.pro_location{
    font-size:15px;
    font-style: italic;
}
.pro_title{
    font-size:18px;
}
.pro_description{
    font-size:14px;
}
.pro_description ul{
    margin: 10px 0;
    padding-left: 20px;
}
.pro_description li{
    margin-bottom: 5px;
}
.section_title{
    margin-left:auto;
    margin-right:auto;
    padding:10px;
    text-decoration:underline;
    font-size:20px;

}

/* Different Screen Widths 
@media screen and (max-width: 1800px){
    .pro_section,.section_title{
        width: 800px;
    }
    
}

@media screen and (max-width: 800px){
    .pro_section,.section_title{
        width: 480px;
    }
}

@media screen and (max-width: 480px){
    .pro_section, .section_title{
        width: 400px;
    }
}*/